services:
  db:
    image: mysql:8.4
    container_name: mysql_db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: nada
      MYSQL_USER: nada
      MYSQL_PASSWORD: N4dA_Db_P4ss_2025
      MYSQL_ROOT_PASSWORD: R00t_Db_Oracle_2025
    command: >
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_0900_ai_ci
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -u root -pR00t_Db_Oracle_2025 --silent"]
      interval: 5s
      timeout: 3s
      retries: 15
    networks:
      - backend

  app:
    build: .
    container_name: spring_app
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
    environment:
      SPRING_PROFILES_ACTIVE: docker
      MYSQL_HOST: db
      MYSQL_PORT: 3306
      MYSQL_DB: nada
      MYSQL_USER: nada
      MYSQL_PASSWORD: N4dA_Db_P4ss_2025
    ports:
      - "127.0.0.1:8080:8080"
    volumes:
      # Monta la carpeta local de imágenes estáticas en /app/static/images dentro del contenedor
      - ./src/main/resources/static/images:/app/static/images
    networks:
      - backend

volumes:
  mysql_data:

networks:
  backend:
    driver: bridge
